<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img class="logo" src="/imgs/flor.png" alt="imagem de flor roxa da barra de navegação da página">
    </a>
</nav>